/*
*

FONTS

*/

$content-font: 'Roboto Slab', serif;
$qoute-font: 'Alex Brush', cursive;
$title-font :'Anton', sans-serif;




/*
*

COLORS

*/

$bg-color: #f75110;
$color-white: #FDFDFD;
$color-dark: #020101;
$color-gray: #cccccc;
$color-gray-light: #bbbbbb;
$border-color: #792302;